
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/litera/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar bg-dark">
        <!-- <a href="/" class="vanbar-brand">CRUD Nodejs MYSQL</a> -->
        <h2>CRUD Nodejs mysql</h2>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <table class="table table.bordersed table.hover">
                    <thead>
                        <tr>
                            <th>n°</th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (data) { %>
                        <%  for (var i = 0; i < data.length; i++) {%>
                            <tr>
                                <td><%= (i + 1) %></td>
                                <td><%= data[i].id %></td>
                                <td><%= data[i].fullname %></td>
                                <td><%= data[i].username %></td>
                                <td><%= data[i].password %></td>
                                <td><%= data[i].email %></td>
                                <td>
                                    <!-- eliminamos los archivos pasando l id de la base  -->
                                    <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Delete</a>
                                    <a href="/update/<%= data[i].id %>" class="btn btn-info">Update</a>
                                </td>
                            </tr>
                        <% } %>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/add" method="post">
                            <div class="form-group">
                                <input type="text" name="fullname" placeholder="Name" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="username" placeholder="UserName" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="password" placeholder="Password" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="email" placeholder="Email" class="form-control">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary"> Save User</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html> 










<p>
    <label for="">Lugar de salida: </label>
    <select name="origen" id="ruta_container">
        <!-- <optgroup label="Atlacomulco"> -->
        <% if (data) { %>
            <% for (var i=0; i < data.length; i++) {%>
                <option value="<%= data[i].origen %>">
                    <%= data[i].origen %>
                </option>
            <% } %>
        <% } %>
        <!-- </optgroup> -->
    </select>
    <label for="diaSalida" id="fecha_container">*Escriba día de salida:</label>
    <input type="date" id="fechaS" name="fecha">
</p>
<br>
<input type="submit" id="rutaData" class="clearfix btn" value="Buscar">




<table class="table table.bordersed table.hover">
    <div class="container text-center">
        <tbody>
            <% if (data) { %>
                <% for (var i=0; i < data.length; i++) {%>
                    <tr>
                        <a href="/rutes/<%= data[i].origen %>" class="btn btn-info"><%= data[i].origen %></a>
                    </tr>
                <% } %>
            <% } %>
        </tbody>
    </div>
</table>






<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/litera/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar bg-dark">
        <!-- <a href="/" class="vanbar-brand">CRUD Nodejs MYSQL</a> -->
        <h2><%= name %></h2>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <table class="table table.bordersed table.hover">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Folio</th>
                            <th>ID TICKET</th>
                            <th>NUM TICKETS</th>
                            <th>TOTAL $</th>
                            <th>FECHA</th>
                            <th>HORA</th>
                            <th>DESCARGAR BOLETO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (data) { %>
                        <%  for (var i = 0; i < data.length; i++) {%>
                            <tr>
                                <td><%= (i + 1) %></td>
                                <td><%= data[i].folio %></td>
                                <td><%= data[i].idTicket %></td>
                                <td><%= data[i].numTickets %></td>
                                <td><%= data[i].fullPayment %></td>
                                <td><%= data[i].datePurchase %></td>
                                <td><%= data[i].timePurchase %></td>
                                <td><%= data[i].fileTicket %></td>
                                <td>
                                    <!-- eliminamos los archivos pasando l id de la base  -->
                                    <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Delete</a>
                                    <a href="/update/<%= data[i].id %>" class="btn btn-info">Update</a>
                                </td>
                            </tr>
                        <% } %>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/add" method="post">
                            <div class="form-group">
                                <input type="text" name="fullname" placeholder="Name" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="username" placeholder="UserName" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="password" placeholder="Password" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="email" placeholder="Email" class="form-control">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary"> Save User</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html> 






<tbody>
    <% if (data) { %>
        <% for (var i=0; i < data.length; i++) {%>
            <tr>
                <td>
                    <%= (i + 1) %>
                </td>
                <td>
                    <%= data[i].idTravelRoute %>
                </td>
                <td>
                    <%= data[i].startingPlace %>
                </td>
                <td>
                    <%= data[i].destinyPlace %>
                </td>
                <td>
                    <%= data[i].dateTravel %>
                </td>
                <td>
                    <%= data[i].hourTravel %>
                </td>
                <td>
                    <%= data[i].priceTravel %>
                </td>
                <td>
                    <%= data[i].availablePlaces %>
                </td>
                <td>
                    <!-- eliminamos los archivos pasando l id de la base  -->
                    <a href="" class="btn btn-danger">ELIMINAR</a>
                    <!-- <a href="" class="btn btn-info">ACTUALIZAR</a> -->
                </td>
            </tr>
            <% } %>
                <% } %>
</tbody>